<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryans.mapper.TbInventoryMapper">
    <select id="getById" resultType="com.ryans.entity.TbInventory">
        select * from tb_inventory where id = #orderId
    </select>
    <update id="reduceInventory" parameterType="com.ryans.entity.TbInventory">
        update tb_inventory
        set num = num - 1, update_time = #{updateTime, jdbcType=TIMESTAMP}
        where goods_id = #{goodsId, jdbcType=INTEGET}
    </update>
</mapper>